<div class="container my-5">
  <% if flash[:error].present? %>
    <div class="container alert alert-danger text-center mb-4">
      <%= flash[:error] %>
    </div>
  <% end %>
  <% if @order.errors.present? %>
    <ul id="error_explanation" class="alert alert-danger mb-4">
      <% @order.errors.full_messages.each do |message| %>
        <div class="px-3">
          <li><%= message %></li>
        </div>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted"><%= t ".cart.your_cart" %></span>
        <span class="badge bg-secondary rounded-pill"><%= cart_items_count %></span>
      </h4>
      <ul class="list-group mb-3">
        <% @cart_items.each do |cart_item| %>
          <li class="list-group-item d-flex justify-content-between align-items-center lh-condensed">
            <div class="me-auto">
              <h6 class="my-0"><%= cart_item.product.name %></h6>
              <small class="text-muted"><%= "数量: #{cart_item.quantity}" %></small>
            </div>
            <span class="text-muted me-2"><%= number_to_currency(cart_item.subtotal) %></span>
            <%= link_to "削除", cart_path(cart_item, product_id: cart_item.product_id), data: { turbo_method: :delete }, class: "delete-btn small px-1" %>
          </li>
        <% end %>
        <li class="list-group-item d-flex justify-content-between">
          <span><%= t ".cart.total_price" %></span>
          <strong><%= number_to_currency(current_cart.total_price) %></strong>
        </li>
      </ul>
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="<%= t ".promotion.promo_code_hint" %>">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary"><%= t ".promotion.redeem" %></button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="text-muted mb-3"><%= t ".address.billing_address" %></h4>
      <%= form_with model: @order, html: { class: "needs-validation", novalidate: true } do |f| %>
        <div class="row">
          <div class="col-md-6 mb-3">
            <%= f.label :first_name, class: "form-label" %>
            <%= f.text_field :first_name, class: "form-control", placeholder: t(".address.first_name_hint"), required: true %>
            <div class="invalid-feedback">
              <%= t ".address.first_name_warn" %>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <%= f.label :last_name, class: "form-label" %>
            <%= f.text_field :last_name, class: "form-control", placeholder: t(".address.last_name_hint"), required: true %>
            <div class="invalid-feedback">
              <%= t ".address.last_name_warn" %>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <%=f.label :user_name, class: "form-label"%>
          <div class="input-group">
            <span class="input-group-text">@</span>
            <%=f.text_field :user_name, class: 'form-control', placeholder: "Username", required: true %>
            <div class="invalid-feedback">
              <%= t ".address.username_warn" %>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <%=f.label :email, class: "form-label"%>
          <%=f.email_field :email, class: 'form-control', placeholder: "you@example.com", required: true %>
          <div class="invalid-feedback">
            <%= t ".address.email_warn" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <%=f.label :zip_code, class: "form-label"%>
            <%=f.text_field :zip_code, class: 'form-control', placeholder: t(".address.zip_hint"), required: true %>
            <div class="invalid-feedback">
              <%= t ".address.zip_warn" %>
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <%=f.label :country, class: "form-label" %>
            <%=f.select :country, ["日本", "United States"], {}, class: 'form-select'%>
          </div>
          <div class="col-md-4 mb-3">
            <%=f.label :state, class: "form-label" %>
            <%=f.select :state, ["東京", "California"], {}, class: 'form-select'%>
          </div>
        </div>
        <div class="mb-3">
          <%=f.label :primary_address, class: "form-label"%>
          <%=f.text_field :primary_address, class: 'form-control', placeholder: t(".address.primary_address_hint"), required: true %>
          <div class="invalid-feedback">
            <%= t ".address.primary_address_warn" %>
          </div>
        </div>
        <div class="mb-3">
          <%=f.label :secondary_address, class: "form-label"%>
          <%=f.text_field :secondary_address, class: 'form-control', placeholder: t(".address.secondary_address_hint"), required: true %>
          <div class="invalid-feedback">
            <%= t ".address.secondary_address_warn" %>
          </div>
        </div>
        <hr class="my-4">
        <h4 class="text-muted mb-3"><%= t ".card.payment" %></h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <%=f.label :credit_name, class: "form-label"%>
            <%=f.text_field :credit_name, class: 'form-control', placeholder: t(".card.name_on_card_hint"), required: true %>
            <div class="invalid-feedback">
              <%= t ".card.name_on_card_warn" %>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <%=f.label :credit_number, class: "form-label"%>
            <%=f.text_field :credit_number, class: 'form-control', placeholder: t(".card.credit_card_number_hint"), required: true %>
            <div class="invalid-feedback">
              <%= t ".card.credit_card_number_warn" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <%=f.label :credit_expiration, class: "form-label"%>
            <%=f.text_field :credit_expiration, class: 'form-control', placeholder: t(".card.expiration_hint"), required: true %>
            <div class="invalid-feedback">
              <%= t ".card.expiration_warn" %>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <%=f.label :credit_cvv, class: "form-label"%>
            <%=f.text_field :credit_cvv, class: 'form-control', placeholder: t(".card.cvv_hint"), required: true %>
            <div class="invalid-feedback">
              <%= t ".card.cvv_warn" %>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="d-grid gap-2">
          <%= f.submit t(".cart.continue_to_checkout"), class: "btn btn-primary btn-lg btn-checkout" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div data-controller="cart-form-validation"></div>
