<div class="col mb-5">
  <%= link_to product, class: "text-decoration-none text-reset" do %>
    <div class="card h-100">
      <%= image_tag product.image, class: "card-img-top product-image product-thumbnail" if product.image.attached? %>
      <div class="card-body p-4">
        <div class="text-center">
          <h5 class="fw-bolder"><%= product.name %></h5>
          <%= number_to_currency(product.price) %>
        </div>
      </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <a class="btn btn-outline-dark mt-auto" href="#">
            <%= t 'products.add_to_cart' %>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>